//not black backgrounds are back for not backgroundy things.
.has-description, .no-description,
.user-main .about .secondary,
.user-right .user-stream .item,
#reply-control,
select,
.topic-list td,
.topic-list>tbody>tr>td,
.topic-body
{
    background-color: #333333;
}
.user-main .staff-counters div a
{
    color: #efefef;
}
.topic-list:not(.categories)>thead>tr>th,
aside.quote .title, blockquote,
.category-list>thead,
.quote aside .quote, .quote aside .title, .quote aside blockquote, .quote aside .onebox, .quote aside .onebox-result
{
    background-color: #292929;
}
#create-topic:hover,
.topic-list .sortable:hover,
.drop-down-visible .d-header .icons .active .icon,
.d-header .icons .icon:hover {
    color: #efefef;
    background-color: #069;
}

//fade these elements to the background
//Image preview in black rather than white for a less glaring experience
//deleted posts count should match the 'danger' button text color.
/*
staff counter background is by default white to match default background color
change background color to black to match, change text color to white
*/
.uploaded-image-preview,
.deleted-posts,
.user-main .staff-counters,
.topic-list, .topic-list>tbody>tr,
.nav-pills>li.active>a, .nav-pills>li>a.active,
.nav-pills>li>a:hover {
  color: #efefef;
  background-color: #202020;
}
