.small-action,
.topic-avatar,
.topic-body,
.topic-post,
#topic-closing-info,
.posts-wrapper > div > .post-cloak:last-child > .topic-post > article > .row,
{
    border: none;
}
.topic-list > tbody > tr,
.topic-post > article > .row,
.category-list tbody tr{
    border-bottom: 1px solid #202020;
}
.topic-list>tbody>tr:first-of-type,
.category-list tbody tr:first-of-type {
  border-top: 3px solid #069;
}
aside.quote .title, blockquote,
.quote aside .quote, .quote aside .title, .quote aside blockquote, .quote aside .onebox, .quote aside .onebox-result{
    border-left-color: #069;
}
.nav-pills>li.active>a, .nav-pills>li>a.active,
.nav-pills>li>a:hover {
  border-bottom: 3px solid #069;
}
.spinner {
    border:3px solid #069;
    border-right-color: transparent;
}
.topic-list .topic-list-item-separator td {
    border-bottom: 1px solid #046;
}
.topic-list .topic-list-item-separator td span {
    background-color: #333333;
    color: #999;
}
#reply-control {
    border-top: 1px solid #202020;
}
