//add some padding to posts so that avatars are not on the side
.topic-avatar
{
    padding-right: 10px;
}
.topic-body
{
  margin-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
}
.more-topics .btn.pull-right
{
    margin-right: 20px;
}
#list-area {
    margin-bottom: 0px;
}
.small-action {
    padding-left: 56px;
}
