.btn,
.nav-pills>li,
.topic-body,
#topic-progress-wrapper,
#topic-progress,
#topic-progress .bg
{
    border-radius: 3px;
}
.category-list-item {
    border-right: 1px transparent;
    border-radius: 3px;
}
